{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="col">
        <div class="row">
            <div id="home" class="content">
                <h2>Genre-wise Analysis</h2>
                <p>It shows the number of movies & percentage of each genre.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id='chart11' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart11',{{graph11 | safe}})
            </script>
        </div>
        <br>
        <div class="col-md-6">
            <div id='chart12' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart12',{{graph12 | safe}})
            </script>
        </div>
    </div>
</div>

{% endblock body %}


