{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="col">
        <div class="row">
            <div id='chart5' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart5',{{graph5 | safe}})
            </script>
        </div>
        <br>
        <div class="row">
            <div id='chart6' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart6',{{graph6 | safe}})
            </script>
        </div>
        <br>
        <div class="row">
            <div id='chart7' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart7',{{graph7 | safe}})
            </script>
        </div>
    </div>
</div>

{% endblock body %}


